.form-wrapper {
    background-color: #e7f267;
    max-width: 400px;
    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 5px;
  }
  input {
    font-size: 15px;
  }
  
  button {
    margin-left: 1rem;
    font-size: 16px;
  }
  .list {
    max-width: 400px;
    margin: auto;
    background-color: #1dba763f;
    padding: 1rem;
    color: black;
    border-radius: 4px;
  }
  
  .list button {
    float: right;
  }
  